<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://d3js.org/d3.v5.min.js" defer></script>
    <script src="static/control.js" defer></script>
</head>
<body>
    <table>
        <tr>
            <td></td>
            <td><img class="direction" id="forward" src="static/images/up.png" alt="up arrow"></td>
            <td></td>
        </tr>
        <tr>
            <td><img class="direction" id="left" src="static/images/left.png" alt="left arrow"></td>
            <td><img class="direction" id="stop" src="static/images/stop.png" alt="stop button"></td>
            <td><img class="direction" id="right" src="static/images/right.png" alt="right arrow"></td>
        </tr>
        <tr>
            <td></td>
            <td><img class="direction" id="reverse" src="static/images/down.png" alt="down arrow"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="direction" id="exit">Exit</td>
        </tr>
    </table>
    <div id="status"></div>
</body>
</html>