<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{url_for('static', filename='control.js')}}" defer></script>
</head>
<body>
    <img id="video-stream" src="{{ url_for('video_feed') }}" alt="Video Stream">
    <br />
    <table>
        <tr>
            <td></td>
            <td><img class="direction" id="up" src="static/images/up.png" alt="up arrow"></td>
            <td></td>
        </tr>
        <tr>
            <td><img class="direction" id="left" src="static/images/left.png" alt="left arrow"></td>
            <td><img class="direction" id="stop" src="static/images/stop.png" alt="stop button"></td>
            <td><img class="direction" id="right" src="static/images/right.png" alt="right arrow"></td>
        </tr>
        <tr>
            <td></td>
            <td><img class="direction" id="down" src="static/images/down.png" alt="down arrow"></td>
        </tr>
    </table>
    <div id="status"></div>
</body>
</html>